.product-card {
  /* height: 320px; */
  display: flex;
  flex-direction: column;
}
.product-card-img {
  height: 200px;
  object-fit: cover;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center ;
}
.card-text {
  margin: auto 0;
}
.bold {
  font-weight: bold;
}
.Container {
  padding-top: 20px;
}
.logo img{
  max-width: 20rem;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.landing-image-container {
  /* text-align: center; */
  margin: 20px 0; /* Adjust margin as needed */
}

.landing-image {
  width: 100%; /* Adjust width as per your layout */
  border-radius: 15px; /* Rounded corners */
}

.shop-now-btn {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 20px;
}

.cartImg {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  cursor: pointer;
}

.cart-sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: -1px 0 5px rgba(0,0,0,0.5);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
  z-index: 100;
}

.cart-sidebar.show {
  transform: translateX(0);
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}